[user]
	name = crespire
	email = hello@crespire.dev
	signingkey = ~/.ssh/id_ed25519.signing.pub
[includeif "gitdir:~/repos/switch/"]
  path = ~/.dotfiles/git/switch/.gitconfig
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = vim
[help]
  autocorrect = 30
[push]
  autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
  last = log -1 HEAD
  b = branch
  s = status
  sw = switch
  unstage = reset HEAD --
