[user]
	name = crespire
	email = hello@crespire.dev
	signingkey = /home/crespire/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = vim
[help]
  autocorrect = 30
[push]
  autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
